---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/700.css";
import "@/styles/global.css";
import HeadTags from "@/components/head-tags.astro";
import Footer from "@/components/footer.astro";
import { Navbar } from "@/components/navbar";
import { ThemeColor } from "@/components/theme-color";
import { Toaster } from "@/components/ui/sonner";

interface Props {
	class?: string;
	title?: string;
	back?: boolean;
	disableTopPadding?: boolean;
	themeColor?: string;
}

const commitHash = import.meta.env.DEV ? "dev" : import.meta.env.CF_PAGES_COMMIT_SHA ? import.meta.env.CF_PAGES_COMMIT_SHA.slice(0, 7) : "unknown"
---

<script src="@/lib/client-scripts/pwa.ts"></script>

<!doctype html>
<html lang="en">
	<head>
		<HeadTags/>
		<ThemeColor
			client:load
			color={Astro.props.themeColor}
		/>
		<title>{Astro.props.title ? `${Astro.props.title} - Paquet` : "Paquet"}</title>

		<slot name="head"/>
	</head>
	<body
		class="flex flex-col"
	>
		{!Astro.props.disableTopPadding ?
			<div class="h-16"/>
		: null}
		<Navbar
			title={Astro.props.title}
			back={Astro.props.back}
			client:load
		/>
		<main
			class:list={["flex-1", Astro.props.class]}
		>
			<slot />
		</main>
		<Footer
			{commitHash}
		/>
		<Toaster

			client:load
		/>
	</body>
</html>
